{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true
}
